@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// ul li a {
//     color: green;
// }

// [href="#"], a[href^="http"] {
//     color: red;
//     font-size: 2em;
// }

// main > section {
//     background-color: green;
//     width: 200px;
//     height: 200px;
// }
// section:first-of-type {
//     background-color: red;
// }
// section:last-of-type {
//     background-color: red;
// }
// section:nth-child(2) {
//     background-color: blue;
// }

// main {
//     section:nth-child(1){
//         img {
//             width: 400px;
//             height: auto;
//             padding: 4em;
//             border: 1em solid green;
//             box-sizing: content-box;
//         }
//         img:nth-child(1) {
//             margin: 0 0 0 300px;
//         }
//     }
// }

header {
    nav {
        #logo {
            font-size: 2em;
            float: left;
            margin-top: 0.25em;
            margin-left: 1em;         
        }
        ul {
            float: right;
            margin-top: 1em;
            margin-right: 2em;
            li {
                display: inline-block;
                padding: 1em 0.45em;
                cursor: pointer;
                transition: all 200ms linear;
                a {
                    text-decoration: none;
                    font-weight: 400;
                    color: black;
                    transition: all 200ms linear;
                }
            }
            li:hover {
                background-color: red;
                a {
                    color: white;
                }
            }
        }
    }
}

main {
    clear: both;
    position: relative;
    top: 50px;
    width: 900px;
    height: 600px;
    background-color: green;
    margin: 0 auto;
    section {
        width: 300px;
        height: 100px;
    }
    section:nth-of-type(1) {
        background-color: red;
        position: relative;
        top: 150px;
        left: 600px;
    }
    section:nth-of-type(2) {
        background-color: blue;
        position: relative;
        top: 150px;
        left: 600px;
    }
    section:nth-of-type(3) {
        background-color: white;
        position: relative;
        top: 150px;
        left: 600px;
        font-weight: 100;
    }
}



